@charset "utf-8";
/* CSS Document */

html { 
 	background: url("../assets/Background.png") no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	position:relative;
}

.mes{
	position: absolute;
	top:200px;
	left:600px;
}

.dropbtn{
	outline: none;
		border: none;
		background-color: rgba(255,255,255,1.00);
		width: 350px;
		padding: 16px;

}

.dd{
	position: absolute;
	display: inline-block;
	left: 1350px;
	top: 485px;
	
}

.d2{
	position: absolute;
	display: inline-block;
	left: 1270px;
	top: 630px;
}


.dc{
	display: none;
	position: absolute;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(38,38,38,1);
	background-color: white;
	min-width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dc p {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	display: inline-block;
	
}

.dc p:hover{
	background-color: #ddd;
	cursor:pointer;
}


.dd:hover .dc {
	display: block;
}

.dd:hover .dropbtn {
	background-color: #f1f1f1;
}

.d2:hover .dc {
	display: block;
}

.d2:hover .dropbtn {
	background-color: #f1f1f1;
}


.form{
	position: absolute;
	top: 150px;
	left: 400px;
}
.title{
	position:absolute;
	left:640px;
	top:343px;
	
	
}
.des{
	position:absolute;
	left:490px;
	top:553px;
}
.due{
	position:absolute;
	left:640px;
	top:747px;
}
.time{
	position:absolute;
	left:1350px;
	top:343px;
}

.addTask{
	position:absolute;
}
.add{
	position:absolute;
	left: 1590px;
	top: 790px;
	cursor: pointer;
	overflow: visible;
}
.people{
	position:absolute;
	left: 1167px;
	top: 690px;
	cursor: pointer;
	overflow: visible;
}
.exit{
	position: absolute;
	left:1700px;
	top: 180px;
	cursor: pointer;
	overflow: visible;
	
}
.Completed_Class {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
		right: 290px;
		top: 181px;
		position: absolute;
		overflow: visible;
		width: 227px;
		white-space: nowrap;
		text-align: center;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: rgba(255,255,255,1);
	}
ol{
	list-style-type: none;
}

.sideba {
	position: absolute;
	top: 0px;
	left:0px;
}

.sidebarbuttons {
	position:absolute;
	top: 35px;
	left:15px;
}

.tint{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
	
}

.sidenav {
	height: 100%;
  	width: 178px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: #8D4F42;
	overflow-x: hidden;
	padding-top: 20px;
}

.profileSection {
	text-align: center;
}

.sidenav a {
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	display: block;
	font: "Trebuchet MS";
	padding-top: 1em;
	padding-bottom: 1em;
}

.buttonGroup a:hover {
	background-color: #B87668;
}

.buttonGroup {
	text-align: center;
	margin-top: 75%;
}

.sidenav-extended {
	display: none;
	top: 8px;
	width: 554px;
	height: 100%;
	background-image: url("../assets/Sidenav-Extended.png");
	overflow-x: hidden;
	position: fixed;
	z-index: 9;
}

.sidenav-extended ul {
	list-style: none;
}

.sidenav-extended ul li {
	padding: 20px;
}

.sidenav-extended ul li a {
	text-decoration: none;
	font-size: 25px;
	font-weight: 500;
	font: "Trebuchet MS";
	color: #5D5D5D;
	padding-left: 178px;
	padding-right: 40px;
}

.sidenav-extended ul li a:hover {
	color: #808080;
}

.sidenav-extended ul li img {
	float: right;
	margin-right: 70px;
}

#submenu {
	display: none;
}

#closeMenu {
	position: fixed;
	margin-left: 500px;
	top: 120px;
}

#closeMenu:hover {
	filter: brightness(2);
}

.To_Do_Class {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
		right: 960px;
		top: 178px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: center;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: rgba(255,255,255,1);
	}
.requestHelp {
		position: absolute;
		left: 180px;
		overflow: visible;
}

.taskFontPreset {
		outline: none;
		border: none;
		width: 350px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(38,38,38,1);
}

.popup{
	position: absolute;
	left: 990px;
	top: 180px;
}

.taskFontPreset3 {
		outline: none;
		border: none;
		width: 170px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(38,38,38,1);
}

.taskFontPreset2 {
		outline: none;
		border: none;
		width: 460px;
		height:140px;
		max-height: 150px;
		text-align: left;
		text-align: start;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(38,38,38,1);
}

.LOGO5 {
		opacity: 0.71;
		position: absolute;
		height: 95px;
		right: 11px;
		top: 11px;
		overflow: visible;
	}

.Logout{
		position: absolute;
		right: 150px;
		top: 45px;
		overflow: visible;
}

.copyright_ {
		opacity: 0.71;
		position: absolute;
		height: 30px;
		right: 11px;
		top: 1080px;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		line-height: 40px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(255,255,255,1);
	}
.todolist {
	position: absolute;
	top: 250px;
	right: 600px;
}

.todolistr {
	position: absolute;
	top: 250px;
	right: 665px;
}

.completelist {
	position: absolute;
	top: 250px;
	right: 50px;
}

.rm{
	position: absolute;
	right:1300px;
	top:400px;
}

.m{
	position: absolute;
	right:1170px;
	top:400px;
}

.c1{
	position: absolute;
	right: 1540px;
	top:530px;
	cursor: pointer;

}
.c2{
	position: absolute;
	right: 1420px;
	top:570px;
	cursor: pointer;

}
.c3{
	position: absolute;
	right: 1420px;
	top:520px;
	cursor: pointer;

}

.todos {
	padding-bottom: 20px;
}

