@charset "UTF-8";
/* CSS Document */
html {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

.box {
    position: fixed;
    top: 343px;
    background-color: #8D4F42;
    display: block;
    text-align: center;
    width: 100%;
    left: 0%;
	padding: 15px;
}


.description {
	margin: auto;
	width: 615px;
	text-align: center;
	padding: 15px;
}

body {
background-image: url("../Background.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
margin: auto;
}

.buttons{
	margin: auto;
	padding: 15px;
}

a
{
text-decoration:none;
color:white;
}

.copyright{
	font-size: 18px;
	padding: 10px 20px 10px 10px;
	position:absolute;
    bottom:0;
    right:0;
}