@charset "UTF-8";
/* CSS Document */
html {
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


body {
background-image: url("../Background.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}


a
{
text-decoration:none;
}
