@charset "UTF-8";
/* CSS Document */
html {
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.box{
	background-color: #FFF;
	top: 305px;
	color: #8D4F42;
	width: 554px;
	height: 567px;
	margin: auto;
	align-content: center;
	display: block;
	padding: 15px;
}

body {
background-image: url("../assets/Background.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

a
{
text-decoration:none;
}

