@charset "UTF-8";
/* CSS Document */

html {
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.x{
top:0;
right:0;
}
p{
text-align:center;
color: #8D4F42;
font-size: 98%;
}

h1 
{
text-align: center;
color: #8D4F42;
font-size: 98%;
}

body
{
background-image:url('assets/Background.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

.container {   
        padding: 30px;   
        background-color: white; 
	position: absolute;
	z-index: 9;
	top: 200px;
	right: 30%;
	width:550px
	text-align:center;
    } 
a
{
text-decoration:none;
}